{% comment %}
<!-- /snippets/bv-inline-ratings.liquid --> <!-- Bazaarvoice Inline Rating -->
{% endcomment %}
<div data-bv-show="inline_rating" data-bv-product-id="{{product.id}}" data-bv-redirect-url="{{ product.url }}" data-bv-seo="false"></div>
<! –– Bazaarvoice Shopify Integration Version 2.1 ––>
{% comment %}
<!-- End Bazaarvoice Inline Rating -->
{% endcomment %}