{% comment %}
<!-- /snippets/bv-ratings-reviews.liquid --> <!-- Bazaarvoice Ratings & Reviews -->
{% endcomment %}
<div data-bv-show="reviews" data-bv-product-id="{{product.id}}"> </div>
<! –– Bazaarvoice Shopify Integration Version 2.1 ––>
{% comment %}
<!-- End Bazaarvoice Ratings & Reviews -->
{% endcomment %}