{% comment %}
<!-- /snippets/bv-summary.liquid --> <!-- Bazaarvoice Summary Container -->
{% endcomment %}
<div data-bv-show="rating_summary" data-bv-product-id="{{product.id}}"> </div>
<! –– Bazaarvoice Shopify Integration Version 2.1 ––>
{% comment %}
<!-- End Bazaarvoice Summary Container --> {% endcomment %}